@use 'globals/variables' as *;
@use 'globals/mixins' as *;
@use 'globals/reset';
@use 'globals/typography';

            /// HEADER SECTION
header{
    
    /// NAVBAR SECTION
    .navbar-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 5rem;

        .nav-links{
            
            .links{
                font-weight: 500;
                color: $secondary-color;
                margin-left: 1.5rem;

                &:hover{
                    color: hsl(5, 85%, 63%);
                }
            }

            .links-2{
                margin-left: 0;
            }
        }
    }
}