@use 'variables' as *;

@mixin flex-setup{
    display: flex;
    align-items: start;
    gap: 0 20px;
}

@mixin img-setup{
    img{
        height: 140px;
        width: 110px;
    }
}

@mixin img-setup-mob{
    img{
        height: 127px;
        width: 100px;
    }
}

@mixin text-setup{
    .number{
        color: #c8c7ca;
        font-size: 2.5rem;
        font-weight: 800;
        margin-bottom: .4rem;
    }

    .heading{
        color: $main-color;
        font-size: 1.2rem;
        font-weight: 800;
        margin-bottom: .6rem;

        &:hover{
            cursor: pointer;
            color: hsl(5, 85%, 63%);
        }
    }

    .body{
        color: $secondary-color;
        line-height: 1.6;
    }
}

@mixin text-setup-mob{
    .number{
        font-size: 1.850rem;
    }
}

@mixin mobile-view{
    @media only screen and (max-width: 600px){
      @content;
    }
}